// app global css

.bg-gradient
  background linear-gradient(to top right, #5e35b1, #1565c0)

.rounded-borders-12
  border-radius: 12px !important;

// .q-table tbody tr:hover
//   background: initial !important;
