// app global css

.bg-gradient
  background linear-gradient(to top right, #5e35b1, #1565c0)

.text-unselectable
  user-select: none;

.rounded-borders-12
  border-radius: 12px !important;

.rounded-borders-bottom-12
  border-bottom-right-radius: 12px !important;
  border-bottom-left-radius: 12px !important;

.dot
  width 16px
  height 16px
  border-radius 50%
  display inline-block
  border 1px dashed black

.emoji
  font-size:24px
